<div class="detailModal">
    <div class="detailInner">
        <h3><%= file.title %> Details</h3>
        <%= file.id %>
        <%= file.link %>
        <%= file.mimetype %>
        <%= file.size %>
        <%= file.createdAt %>
        <%= file.uploader %>
        <%= file.folder %>
    </div>
</div>