<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" type="image/x-icon" href="icon.png">
    <title>Files | File Uploader</title>
  </head>
  <body>
   
    <div class="container">
        <%- include("partials/header.ejs") %>
        <%- include("partials/errors.ejs") %>
        <%- include("partials/createFolderModal.ejs") %>
        <div class="folderContainer">
            <% folders.forEach((folder) => { %>
                <div class="folder">
                    <img src="/folder.png" alt="<%= folder.name %>">
                    <span class="folderName"><%= folder.name %></span>
                </div>
            <% }) %>
        </div>
        <%- include("partials/footer.ejs") %>
    </div>
    
  </body>
  <script src="script.js"></script>
</html>
