<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/x-icon" href="/icon.png">
    <title><%= folder.name %> | File Uploader</title>
  </head>
  <body>
   
    <div class="container">
        <%- include("partials/header.ejs") %>
        <%- include("partials/errors.ejs") %>
        <%- include("partials/createFolderModal.ejs") %>
        <div class="folderContainer">
            <% if (locals.folders) { %>
                <% folders.forEach((folder) => { %>
                    <a href="/folders/<%= folder.name %>" class="folderLink">
                        <div class="folder">
                            <img src="/folder.png" alt="<%= folder.name %>">
                            <span class="folderName"><%= folder.name %></span>
                        </div>
                    </a>
                <% }) %>
            <% } %>
            <% if (locals.files) { %> 
                <% files.forEach((file) => { %>
                    <%
                        const ext = file.title.split('.').pop().toLowerCase();
                        const imageTypes = ['png', 'jpg', 'jpeg', 'gif', 'webp'];
                        const textTypes = ['txt', 'md', 'doc', 'docx', 'rtf'];

                        let icon = '/fileicon.png';

                        if (imageTypes.includes(ext)) {
                            icon = '/photoicon.png';
                        } else if (textTypes.includes(ext)) {
                            icon = '/wordicon.png';
                        } else {
                            icon = '/fileicon.png'
                        }
                    %>
                    <a href="" class="iconLink">
                        <div class="file">
                            <img src="<%= icon %>" alt="<%= file.title %>">
                            <span class="fileName"><%= file.title %></span>
                        </div>
                    </a>
                    <%- include("partials/fileDetails.ejs", { file }) %>
                <% }) %>
            <% } %>
        </div>
        <%- include("partials/footer.ejs") %>
    </div>
    
  </body>
  <script src="/script.js"></script>
</html>
